<?xml version="1.0"?>
<launch>
    <arg name="ns" default="ugv1"/>
    <arg name="world_name" default="$(find gazebo_sim_worlds)/worlds/empty/empty.world"/>
    <arg name="model_name" default="$(arg ns)"/>
    <arg name="gui" default="true"/>
    <arg name="rviz" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="enable_vrpn_server" default="false"/>
    <arg name="wheel_contact_mu1" default="1.0"/>
    <arg name="wheel_contact_mu2" default="0.10"/>
    <arg name="wheel_contact_fdir1" default="1 0 0"/>
    <arg name="wheel_contact_slip1" default="0.0"/>
    <arg name="wheel_contact_slip2" default="5.0"/>
    <arg name="wheel_pid_p" default="6.0"/>
    <arg name="wheel_pid_i" default="0.0"/>
    <arg name="wheel_pid_d" default="0.0"/>
    <arg name="wheelbase" default="0.451"/>
    <arg name="wheel_track" default="0.490"/>
    <arg name="wheel_separation" default="$(arg wheel_track)"/>
    <arg name="wheel_radius" default="0.08"/>
    <arg name="command_gain" default="1.03"/>
    <!-- Calibrated against coupled linear/yaw commands in the stable baseline. -->
    <arg name="angular_command_gain" default="1.20"/>
    <arg name="enable_command_limits" default="true"/>
    <arg name="max_linear_speed" default="1.5"/>
    <arg name="max_angular_speed" default="0.5235"/>
    <arg name="publish_scout_status" default="true"/>
    <arg name="status_topic" default="/$(arg ns)/scout_status"/>
    <arg name="light_control_topic" default="/$(arg ns)/scout_light_control"/>
    <arg name="battery_voltage" default="28.765"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <include file="$(dirname)/spawn_accurate.launch">
        <arg name="ns" value="$(arg ns)" />
        <arg name="model_name" value="$(arg model_name)" />
        <arg name="wheel_contact_mu1" value="$(arg wheel_contact_mu1)" />
        <arg name="wheel_contact_mu2" value="$(arg wheel_contact_mu2)" />
        <arg name="wheel_contact_fdir1" value="$(arg wheel_contact_fdir1)" />
        <arg name="wheel_contact_slip1" value="$(arg wheel_contact_slip1)" />
        <arg name="wheel_contact_slip2" value="$(arg wheel_contact_slip2)" />
        <arg name="wheel_pid_p" value="$(arg wheel_pid_p)" />
        <arg name="wheel_pid_i" value="$(arg wheel_pid_i)" />
        <arg name="wheel_pid_d" value="$(arg wheel_pid_d)" />
        <arg name="wheelbase" value="$(arg wheelbase)" />
        <arg name="wheel_track" value="$(arg wheel_track)" />
        <arg name="wheel_separation" value="$(arg wheel_separation)" />
        <arg name="wheel_radius" value="$(arg wheel_radius)" />
        <arg name="command_gain" value="$(arg command_gain)" />
        <arg name="angular_command_gain" value="$(arg angular_command_gain)" />
        <arg name="enable_command_limits" value="$(arg enable_command_limits)" />
        <arg name="max_linear_speed" value="$(arg max_linear_speed)" />
        <arg name="max_angular_speed" value="$(arg max_angular_speed)" />
        <arg name="publish_scout_status" value="$(arg publish_scout_status)" />
        <arg name="status_topic" value="$(arg status_topic)" />
        <arg name="light_control_topic" value="$(arg light_control_topic)" />
        <arg name="battery_voltage" value="$(arg battery_voltage)" />
    </include>

    <include if="$(arg enable_vrpn_server)" file="$(find gazebo_sim_vrpn_bridge)/launch/vrpn_server.launch">
        <arg name="auto_track_known_models" value="true"/>
    </include>

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find scout_description)/rviz/navigation.rviz" />
</launch>
