<?xml version="1.0"?>
<launch>
  <arg name="ns" default="ugv1"/>
  <arg name="gui" default="true"/>
  <arg name="world_name" default="$(find gazebo_sim_worlds)/worlds/empty/empty.world"/>
  <arg name="enable_simple_lidar" default="false"/>
  <arg name="simple_lidar_pose" default="0 0 0.35 0 0 0"/>
  <arg name="simple_lidar_acceleration" default="gpu"/>
  <arg name="simple_lidar_rate_hz" default="10"/>
  <arg name="simple_lidar_range_meters" default="20"/>
  <arg name="simple_lidar_hfov_deg" default="360"/>
  <arg name="simple_lidar_vfov_deg" default="57.29577951308232"/>
  <arg name="simple_lidar_hres" default="360"/>
  <arg name="simple_lidar_vres" default="16"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>
  <include file="$(dirname)/spawn_selectable.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="dynamics_mode" value="wheel_physics"/>
    <arg name="wheel_physics_backend" value="implicit_brush"/>
    <arg name="max_angular_speed" value="0.5235"/>
    <arg name="enable_simple_lidar" value="$(arg enable_simple_lidar)"/>
    <arg name="simple_lidar_pose" value="$(arg simple_lidar_pose)"/>
    <arg name="simple_lidar_acceleration" value="$(arg simple_lidar_acceleration)"/>
    <arg name="simple_lidar_rate_hz" value="$(arg simple_lidar_rate_hz)"/>
    <arg name="simple_lidar_range_meters" value="$(arg simple_lidar_range_meters)"/>
    <arg name="simple_lidar_hfov_deg" value="$(arg simple_lidar_hfov_deg)"/>
    <arg name="simple_lidar_vfov_deg" value="$(arg simple_lidar_vfov_deg)"/>
    <arg name="simple_lidar_hres" value="$(arg simple_lidar_hres)"/>
    <arg name="simple_lidar_vres" value="$(arg simple_lidar_vres)"/>
  </include>
</launch>
