<?xml version="1.0"?>
<launch>
    <arg name="world_name" default="$(find gazebo_sim_worlds)/worlds/empty/empty.world"/>
    <arg name="gui" default="true"/>
    <arg name="rviz" default="true"/>
    <arg name="rviz_config" default="$(find gazebo_sim_scout)/rviz/two_ugv_navigation.rviz"/>
    <arg name="paused" default="false"/>
    <arg name="enable_vrpn_server" default="false"/>
    <arg name="enable_lidar" default="false"/>
    <arg name="enable_camera" default="false"/>
    <arg name="wheel_contact_mu2" default="0.10"/>
    <arg name="wheel_contact_slip2" default="5.0"/>
    <arg name="wheel_pid_p" default="2.0"/>
    <arg name="wheel_pid_i" default="0.0"/>
    <arg name="wheel_pid_d" default="0.0"/>
    <arg name="wheelbase" default="0.451"/>
    <arg name="wheel_track" default="0.490"/>
    <arg name="wheel_separation" default="$(arg wheel_track)"/>
    <arg name="wheel_radius" default="0.08"/>
    <arg name="command_gain" default="1.03"/>
    <!-- Shared base default. Per-robot args below can override this for calibration. -->
    <arg name="angular_command_gain" default="1.20"/>

    <arg name="ugv1_ns" default="ugv1"/>
    <arg name="ugv1_model_name" default="$(arg ugv1_ns)"/>
    <arg name="ugv1_x" default="-4.0"/>
    <arg name="ugv1_y" default="3.0"/>
    <arg name="ugv1_z" default="0.181"/>
    <arg name="ugv1_yaw" default="0.0"/>
    <arg name="ugv1_wheel_contact_mu2" default="$(arg wheel_contact_mu2)"/>
    <arg name="ugv1_wheel_contact_slip2" default="$(arg wheel_contact_slip2)"/>
    <arg name="ugv1_wheel_pid_p" default="$(arg wheel_pid_p)"/>
    <arg name="ugv1_wheel_pid_i" default="$(arg wheel_pid_i)"/>
    <arg name="ugv1_wheel_pid_d" default="$(arg wheel_pid_d)"/>
    <arg name="ugv1_angular_command_gain" default="$(arg angular_command_gain)"/>
    <arg name="ugv1_enable_lidar" default="$(arg enable_lidar)"/>
    <arg name="ugv1_enable_camera" default="$(arg enable_camera)"/>

    <arg name="ugv2_ns" default="ugv2"/>
    <arg name="ugv2_model_name" default="$(arg ugv2_ns)"/>
    <arg name="ugv2_x" default="-4.0"/>
    <arg name="ugv2_y" default="-3.0"/>
    <arg name="ugv2_z" default="0.181"/>
    <arg name="ugv2_yaw" default="0.0"/>
    <arg name="ugv2_wheel_contact_mu2" default="$(arg wheel_contact_mu2)"/>
    <arg name="ugv2_wheel_contact_slip2" default="$(arg wheel_contact_slip2)"/>
    <arg name="ugv2_wheel_pid_p" default="$(arg wheel_pid_p)"/>
    <arg name="ugv2_wheel_pid_i" default="$(arg wheel_pid_i)"/>
    <arg name="ugv2_wheel_pid_d" default="$(arg wheel_pid_d)"/>
    <arg name="ugv2_angular_command_gain" default="$(arg angular_command_gain)"/>
    <arg name="ugv2_enable_lidar" default="$(arg enable_lidar)"/>
    <arg name="ugv2_enable_camera" default="$(arg enable_camera)"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <include file="$(dirname)/spawn_accurate.launch">
        <arg name="ns" value="$(arg ugv1_ns)" />
        <arg name="model_name" value="$(arg ugv1_model_name)" />
        <arg name="x" value="$(arg ugv1_x)" />
        <arg name="y" value="$(arg ugv1_y)" />
        <arg name="z" value="$(arg ugv1_z)" />
        <arg name="yaw" value="$(arg ugv1_yaw)" />
        <arg name="robot_description_param" value="/$(arg ugv1_ns)/robot_description" />
        <arg name="odom_topic" value="/$(arg ugv1_ns)/odom" />
        <arg name="odom_frame" value="odom" />
        <arg name="base_frame" value="$(arg ugv1_ns)/base_link" />
        <arg name="tf_prefix" value="$(arg ugv1_ns)" />
        <arg name="frame_prefix" value="$(arg ugv1_ns)/" />
        <arg name="sensor_ns" value="$(arg ugv1_ns)" />
        <arg name="enable_lidar" value="$(arg ugv1_enable_lidar)" />
        <arg name="enable_camera" value="$(arg ugv1_enable_camera)" />
        <arg name="robot_state_publisher_ns" value="$(arg ugv1_ns)" />
        <arg name="wheel_contact_mu2" value="$(arg ugv1_wheel_contact_mu2)" />
        <arg name="wheel_contact_slip2" value="$(arg ugv1_wheel_contact_slip2)" />
        <arg name="wheel_pid_p" value="$(arg ugv1_wheel_pid_p)" />
        <arg name="wheel_pid_i" value="$(arg ugv1_wheel_pid_i)" />
        <arg name="wheel_pid_d" value="$(arg ugv1_wheel_pid_d)" />
        <arg name="wheelbase" value="$(arg wheelbase)" />
        <arg name="wheel_track" value="$(arg wheel_track)" />
        <arg name="wheel_separation" value="$(arg wheel_separation)" />
        <arg name="wheel_radius" value="$(arg wheel_radius)" />
        <arg name="command_gain" value="$(arg command_gain)" />
        <arg name="angular_command_gain" value="$(arg ugv1_angular_command_gain)" />
    </include>

    <include file="$(dirname)/spawn_accurate.launch">
        <arg name="ns" value="$(arg ugv2_ns)" />
        <arg name="model_name" value="$(arg ugv2_model_name)" />
        <arg name="x" value="$(arg ugv2_x)" />
        <arg name="y" value="$(arg ugv2_y)" />
        <arg name="z" value="$(arg ugv2_z)" />
        <arg name="yaw" value="$(arg ugv2_yaw)" />
        <arg name="robot_description_param" value="/$(arg ugv2_ns)/robot_description" />
        <arg name="odom_topic" value="/$(arg ugv2_ns)/odom" />
        <arg name="odom_frame" value="odom" />
        <arg name="base_frame" value="$(arg ugv2_ns)/base_link" />
        <arg name="tf_prefix" value="$(arg ugv2_ns)" />
        <arg name="frame_prefix" value="$(arg ugv2_ns)/" />
        <arg name="sensor_ns" value="$(arg ugv2_ns)" />
        <arg name="enable_lidar" value="$(arg ugv2_enable_lidar)" />
        <arg name="enable_camera" value="$(arg ugv2_enable_camera)" />
        <arg name="robot_state_publisher_ns" value="$(arg ugv2_ns)" />
        <arg name="wheel_contact_mu2" value="$(arg ugv2_wheel_contact_mu2)" />
        <arg name="wheel_contact_slip2" value="$(arg ugv2_wheel_contact_slip2)" />
        <arg name="wheel_pid_p" value="$(arg ugv2_wheel_pid_p)" />
        <arg name="wheel_pid_i" value="$(arg ugv2_wheel_pid_i)" />
        <arg name="wheel_pid_d" value="$(arg ugv2_wheel_pid_d)" />
        <arg name="wheelbase" value="$(arg wheelbase)" />
        <arg name="wheel_track" value="$(arg wheel_track)" />
        <arg name="wheel_separation" value="$(arg wheel_separation)" />
        <arg name="wheel_radius" value="$(arg wheel_radius)" />
        <arg name="command_gain" value="$(arg command_gain)" />
        <arg name="angular_command_gain" value="$(arg ugv2_angular_command_gain)" />
    </include>

    <include if="$(arg enable_vrpn_server)" file="$(find gazebo_sim_vrpn_bridge)/launch/vrpn_server.launch">
        <arg name="auto_track_known_models" value="true"/>
    </include>

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" />
</launch>
