<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      husky_empty_world.launch
\authors   Paul Bovbel <pbovbel@clearpathrobotics.com, Devon Ash <dash@clearpathrobotics.com>
\copyright Copyright (c) 2015, Clearpath Robotics, Inc., All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>

    <arg name="ns" default="ugv1"/>
    <arg name="model_name" default="$(arg ns)"/>
    <arg name="world_name" default="$(find gazebo_sim_worlds)/worlds/empty/empty.world"/>
    <arg name="gui" default="true"/>
    <arg name="rviz" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="enable_lidar" default="false"/>
    <arg name="enable_rslidar" default="false"/>
    <arg name="enable_camera" default="false"/>
    <arg name="wheel_contact_mu1" default="0.10"/>
    <arg name="wheel_contact_mu2" default="1.0"/>
    <arg name="wheel_contact_fdir1" default="0 0 1"/>
    <arg name="wheel_contact_slip1" default="5.0"/>
    <arg name="wheel_contact_slip2" default="0.0"/>
    <arg name="publish_scout_status" default="true"/>
    <arg name="status_topic" default="/$(arg ns)/scout_status"/>
    <arg name="light_control_topic" default="/$(arg ns)/scout_light_control"/>
    <arg name="battery_voltage" default="28.765"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <include file="$(dirname)/spawn_accurate.launch">
        <arg name="ns" value="$(arg ns)"/>
        <arg name="model_name" value="$(arg model_name)"/>
        <arg name="enable_lidar" value="$(arg enable_lidar)"/>
        <arg name="enable_rslidar" value="$(arg enable_rslidar)"/>
        <arg name="enable_camera" value="$(arg enable_camera)"/>
        <arg name="wheel_contact_mu1" value="$(arg wheel_contact_mu1)"/>
        <arg name="wheel_contact_mu2" value="$(arg wheel_contact_mu2)"/>
        <arg name="wheel_contact_fdir1" value="$(arg wheel_contact_fdir1)"/>
        <arg name="wheel_contact_slip1" value="$(arg wheel_contact_slip1)"/>
        <arg name="wheel_contact_slip2" value="$(arg wheel_contact_slip2)"/>
        <arg name="publish_scout_status" value="$(arg publish_scout_status)"/>
        <arg name="status_topic" value="$(arg status_topic)"/>
        <arg name="light_control_topic" value="$(arg light_control_topic)"/>
        <arg name="battery_voltage" value="$(arg battery_voltage)"/>
    </include>
        
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find gazebo_sim_scout)/rviz/navigation.rviz" />
</launch>
