<?xml version="1.0"?>
<launch>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.181"/>
    <arg name="yaw" default="0.0"/>
    <arg name="ns" default="ugv1"/>
    <arg name="model_name" default="$(arg ns)"/>
    <arg name="robot_description_param" default="robot_description"/>
    <arg name="odom_topic" default="odom"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="base_frame" default="base_link"/>
    <arg name="tf_prefix" default=""/>
    <arg name="frame_prefix" default=""/>
    <arg name="sensor_ns" default="/"/>
    <arg name="enable_lidar" default="false"/>
    <arg name="enable_camera" default="false"/>
    <arg name="robot_state_publisher_ns" default="/"/>
    <arg name="wheel_contact_mu2" default="0.10"/>
    <arg name="wheel_contact_mu1" default="1.0"/>
    <arg name="wheel_contact_fdir1" default="1 0 0"/>
    <arg name="wheel_contact_slip1" default="0.0"/>
    <arg name="wheel_contact_slip2" default="5.0"/>
    <arg name="wheel_pid_p" default="2.0"/>
    <arg name="wheel_pid_i" default="0.0"/>
    <arg name="wheel_pid_d" default="0.0"/>
    <arg name="wheelbase" default="0.451"/>
    <arg name="wheel_track" default="0.490"/>
    <arg name="wheel_separation" default="$(arg wheel_track)"/>
    <arg name="wheel_radius" default="0.08"/>
    <arg name="command_gain" default="1.03"/>
    <arg name="angular_command_gain" default="1.20"/>
    <arg name="enable_command_limits" default="true"/>
    <arg name="max_linear_speed" default="1.5"/>
    <arg name="max_angular_speed" default="0.5235"/>
    <arg name="publish_scout_status" default="true"/>
    <arg name="status_topic" default="/$(arg ns)/scout_status"/>
    <arg name="light_control_topic" default="/$(arg ns)/scout_light_control"/>
    <arg name="battery_voltage" default="28.765"/>

    <include file="$(find scout_description)/launch/mini_description.launch">
        <arg name="ns" value="$(arg ns)" />
        <arg name="enable_ros_control" value="true" />
        <arg name="use_skid_steer_plugin" value="false" />
        <arg name="robot_description_param" value="$(arg robot_description_param)" />
        <arg name="frame_prefix" value="$(arg frame_prefix)" />
        <arg name="sensor_ns" value="$(arg sensor_ns)" />
        <arg name="enable_lidar" value="$(arg enable_lidar)" />
        <arg name="enable_camera" value="$(arg enable_camera)" />
        <arg name="wheel_contact_mu2" value="$(arg wheel_contact_mu2)" />
        <arg name="wheel_contact_mu1" value="$(arg wheel_contact_mu1)" />
        <arg name="wheel_contact_fdir1" value="$(arg wheel_contact_fdir1)" />
        <arg name="wheel_contact_slip1" value="$(arg wheel_contact_slip1)" />
        <arg name="wheel_contact_slip2" value="$(arg wheel_contact_slip2)" />
        <arg name="wheelbase" value="$(arg wheelbase)" />
        <arg name="wheel_track" value="$(arg wheel_track)" />
    </include>

    <group ns="$(arg ns)">
        <rosparam file="$(find gazebo_sim_scout)/config/scout_mini_ros_control.yaml" command="load"/>
        <param name="gazebo_ros_control/pid_gains/front_right_wheel/p" type="double" value="$(arg wheel_pid_p)"/>
        <param name="gazebo_ros_control/pid_gains/front_right_wheel/i" type="double" value="$(arg wheel_pid_i)"/>
        <param name="gazebo_ros_control/pid_gains/front_right_wheel/d" type="double" value="$(arg wheel_pid_d)"/>
        <param name="gazebo_ros_control/pid_gains/front_left_wheel/p" type="double" value="$(arg wheel_pid_p)"/>
        <param name="gazebo_ros_control/pid_gains/front_left_wheel/i" type="double" value="$(arg wheel_pid_i)"/>
        <param name="gazebo_ros_control/pid_gains/front_left_wheel/d" type="double" value="$(arg wheel_pid_d)"/>
        <param name="gazebo_ros_control/pid_gains/rear_left_wheel/p" type="double" value="$(arg wheel_pid_p)"/>
        <param name="gazebo_ros_control/pid_gains/rear_left_wheel/i" type="double" value="$(arg wheel_pid_i)"/>
        <param name="gazebo_ros_control/pid_gains/rear_left_wheel/d" type="double" value="$(arg wheel_pid_d)"/>
        <param name="gazebo_ros_control/pid_gains/rear_right_wheel/p" type="double" value="$(arg wheel_pid_p)"/>
        <param name="gazebo_ros_control/pid_gains/rear_right_wheel/i" type="double" value="$(arg wheel_pid_i)"/>
        <param name="gazebo_ros_control/pid_gains/rear_right_wheel/d" type="double" value="$(arg wheel_pid_d)"/>
        <param name="scout_motor_fr_controller/pid/p" type="double" value="$(arg wheel_pid_p)"/>
        <param name="scout_motor_fr_controller/pid/i" type="double" value="$(arg wheel_pid_i)"/>
        <param name="scout_motor_fr_controller/pid/d" type="double" value="$(arg wheel_pid_d)"/>
        <param name="scout_motor_fl_controller/pid/p" type="double" value="$(arg wheel_pid_p)"/>
        <param name="scout_motor_fl_controller/pid/i" type="double" value="$(arg wheel_pid_i)"/>
        <param name="scout_motor_fl_controller/pid/d" type="double" value="$(arg wheel_pid_d)"/>
        <param name="scout_motor_rl_controller/pid/p" type="double" value="$(arg wheel_pid_p)"/>
        <param name="scout_motor_rl_controller/pid/i" type="double" value="$(arg wheel_pid_i)"/>
        <param name="scout_motor_rl_controller/pid/d" type="double" value="$(arg wheel_pid_d)"/>
        <param name="scout_motor_rr_controller/pid/p" type="double" value="$(arg wheel_pid_p)"/>
        <param name="scout_motor_rr_controller/pid/i" type="double" value="$(arg wheel_pid_i)"/>
        <param name="scout_motor_rr_controller/pid/d" type="double" value="$(arg wheel_pid_d)"/>
    </group>

    <node name="$(arg ns)_spawn_scout_model" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param $(arg robot_description_param)
              -model $(arg model_name)" />

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
          ns="$(arg ns)"
          args="scout_state_controller scout_motor_fr_controller scout_motor_fl_controller scout_motor_rl_controller scout_motor_rr_controller"/>

    <node name="$(arg ns)_scout_skid_steer_controller" pkg="gazebo_sim_scout" type="scout_skid_steer_controller" output="screen">
        <param name="ns" type="string" value="$(arg ns)" />
        <param name="wheel_separation" type="double" value="$(arg wheel_separation)" />
        <param name="wheel_radius" type="double" value="$(arg wheel_radius)" />
        <param name="command_gain" type="double" value="$(arg command_gain)" />
        <param name="angular_command_gain" type="double" value="$(arg angular_command_gain)" />
        <param name="enable_command_limits" type="bool" value="$(arg enable_command_limits)" />
        <param name="max_linear_speed" type="double" value="$(arg max_linear_speed)" />
        <param name="max_angular_speed" type="double" value="$(arg max_angular_speed)" />
    </node>

    <node name="$(arg ns)_gazebo_model_odom" pkg="gazebo_sim_scout" type="gazebo_model_odom" output="screen">
        <param name="model_name" type="string" value="$(arg model_name)" />
        <param name="odom_topic" type="string" value="$(arg odom_topic)" />
        <param name="odom_frame" type="string" value="$(arg odom_frame)" />
        <param name="base_frame" type="string" value="$(arg base_frame)" />
        <param name="publish_tf" type="bool" value="true" />
    </node>

    <node if="$(arg publish_scout_status)" name="$(arg ns)_sim_scout_status" pkg="gazebo_sim_scout" type="sim_scout_status" output="screen">
        <param name="odom_topic" type="string" value="$(arg odom_topic)" />
        <param name="joint_states_topic" type="string" value="/$(arg ns)/joint_states" />
        <param name="status_topic" type="string" value="$(arg status_topic)" />
        <param name="light_control_topic" type="string" value="$(arg light_control_topic)" />
        <param name="battery_voltage" type="double" value="$(arg battery_voltage)" />
    </node>

    <node name="$(arg ns)_robot_state_publisher" ns="$(arg robot_state_publisher_ns)" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />
        <param name="frame_prefix" type="string" value="$(arg frame_prefix)" />
        <remap from="joint_states" to="/$(arg ns)/joint_states"/>
    </node>
</launch>
