<?xml version="1.0"?>
<launch>
    <!-- initial pose -->
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <arg name="ns" default="ugv1"/>
    <arg name="model_name" default="$(arg ns)"/>

    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="true" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="true" />
    <arg name="enable_ros_control" default="true" />
    <arg name="enable_lidar" default="false" />
    <arg name="enable_camera" default="false" />
    <arg name="wheel_contact_mu2" default="0.35" />
    <arg name="wheel_contact_slip2" default="0.1" />
    <arg name="skid_steer_torque" default="1000" />
    <arg name="publish_scout_status" default="true" />
    <arg name="status_topic" default="/$(arg ns)/scout_status" />
    <arg name="light_control_topic" default="/$(arg ns)/scout_light_control" />
    <arg name="battery_voltage" default="28.765" />

    <include file="$(find gazebo_sim_scout)/launch/mini_description.launch">
        <arg name="ns" value="$(arg ns)" />
        <arg name="enable_ros_control" value="$(arg enable_ros_control)" />
        <arg name="enable_lidar" value="$(arg enable_lidar)" />
        <arg name="enable_camera" value="$(arg enable_camera)" />
        <arg name="wheel_contact_mu2" value="$(arg wheel_contact_mu2)" />
        <arg name="wheel_contact_slip2" value="$(arg wheel_contact_slip2)" />
        <arg name="skid_steer_torque" value="$(arg skid_steer_torque)" />
    </include>

    <group if="$(arg enable_ros_control)">
        <rosparam file="$(find gazebo_sim_scout)/config/scout_mini_state_control.yaml" command="load"/>
    </group>

    <node name="spawn_scout_model" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model $(arg model_name)" />

    <group if="$(arg enable_ros_control)">
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="scout_state_controller"/>
    </group>
    
    <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="scout_state_controller"/> -->

    <node unless="$(arg enable_ros_control)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="odom_to_tf" pkg="gazebo_sim_scout" type="odom_to_tf" output="screen">
        <param name="odom_topic" type="string" value="odom" />
    </node>

    <node if="$(arg publish_scout_status)" name="$(arg ns)_sim_scout_status" pkg="gazebo_sim_scout" type="sim_scout_status" output="screen">
        <param name="odom_topic" type="string" value="odom" />
        <param name="joint_states_topic" type="string" value="/$(arg ns)/joint_states" />
        <param name="status_topic" type="string" value="$(arg status_topic)" />
        <param name="light_control_topic" type="string" value="$(arg light_control_topic)" />
        <param name="battery_voltage" type="double" value="$(arg battery_voltage)" />
    </node>

    <!-- <node name="scout_skid_steer_controller" pkg="gazebo_sim_scout" type="scout_skid_steer_controller">
        <param name="ns" type="string" value="$(arg ns)" />
    </node> -->
</launch> 
