<?xml version="1.0"?>
<launch>
    <arg name="robot_namespace" default="ugv1"/>
    <arg name="world_name" default="$(find gazebo_sim_scout)/worlds/weston_robot_empty.world"/>
    <arg name="model_name" default="$(arg robot_namespace)"/>
    <arg name="gui" default="true"/>
    <arg name="rviz" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="enable_vrpn_server" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <include file="$(find gazebo_sim_scout)/launch/spawn_accurate.launch">
        <arg name="robot_namespace" value="$(arg robot_namespace)" />
        <arg name="model_name" value="$(arg model_name)" />
    </include>

    <include if="$(arg enable_vrpn_server)" file="$(find gazebo_sim_vrpn_bridge)/launch/vrpn_server.launch">
        <arg name="auto_track_known_models" value="true"/>
    </include>

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find scout_description)/rviz/navigation.rviz" />
</launch>
